{% extends 'base.html' %}

{% block content %}
<body>
   <div class="content-section">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-6">
                    <h3 class="widget-title">Редактирование данных водителя</h3>
                    <div class="contact-form">
                        <form name="contactform" id="contactform" method="post">
                            <p>
                                <input name="name" type="text" id="name" value="{{ driver.name }}">
                            </p>
                            <p>
                                <input name="last_name" type="text" id="last_name" value="{{ driver.last_name }}">
                            </p>
                            <p>
                                <input name="phone" type="text" id="phone" value="{{ driver.phone }}">
                            </p>
                            <p>
                                <textarea name="comment" id="comment">{{ driver.comment }}</textarea>
                            </p>
                            <input type="submit" class="mainBtn" value="Редактировать">
                        </form>
                    </div> <!-- /.contact-form -->
                </div>
                <div class="col-md-7 col-sm-6 map-wrapper">
                    <h3 class="widget-title">Our Location</h3>
                    <div class="map-holder" style="height: 360px"></div>
                </div>
            </div>
        </div>
    </div> <!-- /.content-section -->


{% endblock %}

